*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*safari window.innerHeight*/
.html,body{
    height: calc(var(--vh) * 100); /* safari window.innerHeight */
    overflow: hidden; /* Disable scrolling */
    width: 100vw;
    margin: 0;
    padding: 0;
    position: fixed; /* Fixed the page prevent iOS browser from sliding */
    background:rgba(0, 0, 0, 1);
    touch-action: manipulation;
    -webkit-user-select: none;  /* Disable text choice */
    user-select: none;
}

/* background image */
.background {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    background: url(../assets/cover_bg_min-nmAqY-Vw.png) no-repeat center center, black; /* phone */
    background-size: cover;
    transform: translate(-50%, -50%);
    z-index: 1;
}
@media (min-aspect-ratio: 768 / 1024) {
    .background {
        background-image: url(../assets/cover_bg_pc-CRDI2oRc.png);/* PC */
    }
}


/* title parallel universe */
.title {
    width: 322px; /* the same width as the SVG, or use max-content */
    margin: 0 auto;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 10vh;
}
.title svg {
    filter: drop-shadow(0px 0px 10px rgb(240,187,124,0.8));
    transition: filter 0.3s ease;
}
/*title parallel universe black background */
.header {
    position: fixed;
    top: 0vh;
    width: 100%;
    height: 30vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

/* Bottom mask layer*/
.footer {
    position: fixed;
    bottom: -2vh;
    width: 100%;
    height: 30vh;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.5) 70%,rgba(0, 0, 0, 0) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

#mobile-svg {
    display: block;
}
#pc-svg {
    display: none;
    position: fixed;
    top: -6vh;
    left: 50%;
    transform: translateX(-50%);
}

@media (min-aspect-ratio: 768 / 1024) {
    #mobile-svg {
        display: none;
    }
    #pc-svg {
        display: block;
    }
}

/* button */
.start-button {
    position: relative;
    bottom: 0vh;
    background: linear-gradient(to bottom, #4AC632 0%, #1AB14D 100%);
    border: none;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    padding: 20px 12px;
    border-radius: 4px; /* rounded */
    z-index: 2;
}
.start-button:hover {
    background: linear-gradient(to bottom, #50DE35 0%, #1DC155 100%);
}

/* svg projection */
.start-button svg {
    filter: drop-shadow(0px 2px 2px rgba(3, 94, 0, 0.5)); /* projection */
    fill-opacity: 1;
}

/* black background ease-in */
@keyframes home-fade-in-opacity {
    0% {
        opacity: 0;
        transform: translateZ(0);
    }
    100% {
        opacity: 1;
        transform: translateZ(0);
    }
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    pointer-events: none; /* Avoid overlays that affect the interaction of other elements */
    z-index: 2;
    will-change: opacity;
}
.overlay.active {
    animation: home-fade-in-opacity 1s ease-out forwards; /* Trigger animation on active class */
    pointer-events: auto; /* Allow interaction when overlay is active */
}
/*picker-popup opacity*/
@keyframes game-fade-in-opacity {
    from {
        opacity: 0;
        background-color: rgba(0, 0, 0, 1);
    }
    to {
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.5);
    }
}
@keyframes game-fade-out-opacity {
    from {
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.5);
    }
    to {
        opacity: 0;
        background-color: rgba(0, 0, 0, 1);
    }
}

/*2s black ease in*/
.picker-popup {
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh; /* picker-popup full screen */
    --option-height: 400px;
    --toolbar-height: 0px;
    --popup-height: 100vh;
    background-color: rgba(0, 0, 0, 1); /* Initial all black */
    opacity: 0; /* initial transparency */
    animation: game-fade-in-opacity 2s forwards;
}
.picker-popup .selector {
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 100%; /* selector fill the picker-popup */
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--background-2-color);
}
.picker-popup .selector .toolbar {
    position: absolute;
    height: var(--toolbar-height);
    width: min(100vw, calc(100vh * (768 / 1024)));
    top: 0;
    left: 0;
    background-color: var(--background-color);
    box-sizing: border-box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}
.picker-popup .selector .toolbar .left {
    position: absolute;
    color: var(--blue);
    cursor: pointer;
}
.picker-popup .selector .toolbar .center {
    font-weight: 200;
    color: var(--color);
}
.picker-popup .selector .toolbar .right {
    position: absolute;

    color: var(--blue);
    font-weight: 600;
    cursor: pointer;
}
.picker-popup .selector .toolbar .disabled {
    display: none;
}
.picker-popup .selector .peek-top, .picker-popup .selector .peek-bottom {
    position: absolute;
    left: 0;
    width: min(100vw, calc(100vh * (768 / 1024)));
    box-sizing: border-box;
    pointer-events: none;
    background-color: var(--background-2-color);
    opacity: 0.6;
}
.picker-popup .selector .peek-top.peek-top, .picker-popup .selector .peek-bottom.peek-top {
    top: var(--toolbar-height);
    border-bottom: var(--border-color) 1px solid;
}
.picker-popup .selector .peek-top.peek-bottom, .picker-popup .selector .peek-bottom.peek-bottom {
    bottom: var(--safe-area-inset-bottom);
    border-top: var(--border-color) 1px solid;
}
.picker-popup .selector .column {
    width: min(100vw, calc(100vh * (768 / 1024)));
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}
.picker-popup .selector .column .before {
    flex-shrink: 0;
    content: " ";
    height: calc( var(--popup-height) / 2 - var(--option-height) / 2 - var(--toolbar-height) / 2 );
}
.picker-popup .selector .column .after {
    flex-shrink: 0;
    content: " ";
    height: calc( var(--popup-height) / 2 - var(--option-height) / 2 - var(--toolbar-height) / 2 );
}

.picker-popup .selector .column .option .pill.blue {
    background-color: var(--blue);
}
.picker-popup .selector .column .option .pill.lightblue {
    background-color: var(--lightblue);
}
.picker-popup .selector .column .option .pill.teal {
    background-color: var(--teal);
}
.picker-popup .selector .column .option .pill.green {
    background-color: var(--green);
}
.picker-popup .selector .column .option .pill.yellow {
    background-color: var(--yellow);
}
.picker-popup .selector .column .option .pill.orange {
    background-color: var(--orange);
}
.picker-popup .selector .column .option .pill.red {
    background-color: var(--red);
}
.picker-popup .selector .column .option .pill.pink {
    background-color: var(--pink);
}
.picker-popup .selector .column .option .pill.purple {
    background-color: var(--purple);
}
.picker-popup .selector .column .option .pill.grey {
    background-color: var(--grey);
}
.picker-popup.dismiss {
    pointer-events: none;
    animation: game-fade-out-opacity 3s forwards;
}
.picker-popup.dismiss .selector {

}

/* hide scroll bar */
.picker-popup .selector .column {
    scrollbar-width: none; /* hide Firefox scroll bar */
    -ms-overflow-style: none; /* hide IE、Edge scroll bar */
}
.picker-popup .selector .column::-webkit-scrollbar {
    display: none; /* hide Chrome、Safari、Edge scroll bar */
}

.option {
    font-size: 2vh;
    flex-direction: column;
    scroll-snap-align: center;
    flex-shrink: 0;
    width: min(100vw, calc(100vh * (768 / 1024)));
    align-items: center;
    opacity: 0.5;
    transition: opacity 0.5s ease, height 0.5s ease;
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.optionname {
    position: absolute;
    z-index: 3;
    left: 10%;
    top: 2em;
    text-align: center;
    color: #A9A9A9;
    font-size: 2em;
    font-weight: bold;
    pointer-events: none;
    transition: font-size 0.5s ease;
}

.optionimg {
    position: absolute;
    width: 100%;
    z-index: 2;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.optionimgbg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

